Question 1 : 
Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [ ]:
def is_symmetrical(n):
  a = str(n)
  symmetrical = True
  #if len(a)%2 == 0:
  for i in range(len(a)//2):
      if a[i] != a[len(a)-1-i]:
        symmetrical = False
  return symmetrical

In [ ]:
is_symmetrical(11111211111)

True

In [ ]:
is_symmetrical(12567)

False

Question 2 : 
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums(&quot;2, 3&quot;) ➞ 6
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
multiply_nums(&quot;10, -2&quot;) ➞ -20

In [24]:
def multiply_nums(s = str):
  lst = list(s.split(','))
  lst1 = [int(i) for i in lst]
  n = 1
  for i in range(len(lst1)):
    n = lst1[i]*n
  return n

In [25]:
multiply_nums("54, 75, 453, 0")

0

In [26]:
multiply_nums("1, 2, 3, 4")

24

Question 3 : 
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.

In [43]:
def square_digits(n):
  s = str(n)
  s1 = ""
  for i in [int(i)**2 for i in s]:
    s1 += str(i)
  return s1

In [44]:
square_digits(9119)

'811181'

Question 4 : 
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [46]:
def setify(lst = list):
  s1 = set(lst)
  return s1

In [48]:
setify([5, 7, 8, 8, 9, 10, 7, 15])

{5, 7, 8, 9, 10, 15}

Question 5 : 
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6

In [54]:
def mean(n):
  #s = str(n)
  lst = [int(i) for i in str(n)]
  sum = 0
  for i in range(len(lst)):
    sum += lst[i] 
  return sum/len(lst)

In [55]:
mean(25346)

4.0

In [56]:
mean(12345)

3.0