Question1 : 
Create a function that takes an integer and returns a list from 1 to the given number, where:
1. If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the
number).
2. If the number cannot be divided evenly by 4, simply return the number.
Examples
amplify(4) ➞ [1, 2, 3, 40]
amplify(3) ➞ [1, 2, 3]
amplify(25) ➞ [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160,
17, 18, 19, 200, 21, 22, 23, 240, 25]

In [13]:
def amplify(n):
  lst=[]
  for i in range(1, n+1):
    if i%4 == 0:
      i = i*10
    else:
      i = i
    lst.append(i) 
  return lst

In [14]:
amplify(8)

[1, 2, 3, 40, 5, 6, 7, 80]

In [8]:
def amplify1(n):
  lst = [i*10 if i%4 == 0 else i for i in range(1, n+1)]
  return lst

In [12]:
amplify1(15)

[1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15]

Question2 : 
Create a function that takes a list of numbers and return the number that&#39;s unique.
Examples
unique([3, 3, 3, 7, 3, 3]) ➞ 7
unique([0, 0, 0.77, 0, 0]) ➞ 0.77
unique([0, 1, 1, 1, 1, 1, 1, 1]) ➞ 0

In [10]:
def unique(lst = list):
  for i in range(len(lst)):
      if lst[i] != lst[i+1] and lst[i] == lst[i+2]:
        n = lst[i+1]
        break
      elif lst[i] == lst[i+1] and lst[i] != lst[i+2]:
        n = lst[i+2]
        break
      elif lst[i] != lst[i+1] and lst[i] != lst[i+2]:
        n = lst[i]
        break
      else:
        continue
  return n

In [13]:
lst = [3,1,1,1,1,1,1,1,1,1]
unique(lst)

3

Question3
Your task is to create a Circle constructor that creates a circle with a radius provided by an
argument. The circles constructed must have two getters getArea() (PIr^2) and
getPerimeter() (2PI*r) which give both respective areas and perimeter (circumference).

For help with this class, I have provided you with a Rectangle constructor which you can use
as a base example.
Examples
circy = Circle(11)
circy.getArea()
# Should return 380.132711084365
circy = Circle(4.44)
circy.getPerimeter()
# Should return 27.897342763877365

In [32]:
import math
class circle:
  def __init__(self, r):
    self.r = r
  
  def get_area(self):
    area = math.pi*(self.r)**2
    return area

  def get_perimeter(self):
    peri = 2*math.pi*self.r
    return peri

In [37]:
circy = circle(20)

In [38]:
circy.get_area()

1256.6370614359173

In [39]:
circy.get_perimeter()

125.66370614359172

Question4 : 
Create a function that takes a list of strings and return a list, sorted from shortest to longest.
Examples
sort_by_length([&quot;Google&quot;, &quot;Apple&quot;, &quot;Microsoft&quot;])
➞ [&quot;Apple&quot;, &quot;Google&quot;, &quot;Microsoft&quot;]
sort_by_length([&quot;Leonardo&quot;, &quot;Michelangelo&quot;, &quot;Raphael&quot;, &quot;Donatello&quot;])
➞ [&quot;Raphael&quot;, &quot;Leonardo&quot;, &quot;Donatello&quot;, &quot;Michelangelo&quot;]
sort_by_length([&quot;Turing&quot;, &quot;Einstein&quot;, &quot;Jung&quot;])
➞ [&quot;Jung&quot;, &quot;Turing&quot;, &quot;Einstein&quot;]

In [64]:
def sort_by_length(lst = list):
  dict1 = {len(i):i for i in lst}
  d = sorted(dict1.keys())
  return list(dict1.values())

In [65]:
sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"])

['Leonardo', 'Michelangelo', 'Raphael', 'Donatello']

Question 5 : Create a function that validates whether three given integers form a Pythagorean triplet. The
sum of the squares of the two smallest integers must equal the square of the largest number to
be validated.

Examples
is_triplet(3, 4, 5) ➞ True
 3² + 4² = 25
 5² = 25
is_triplet(13, 5, 12) ➞ True
 5² + 12² = 169
 13² = 169
is_triplet(1, 2, 3) ➞ False
 1² + 2² = 5
 3² = 9

In [68]:
def is_triplet(a, b, c):
  lst = sorted([a,b,c])
  if (lst[0])**2 + (lst[1])**2 == (lst[2])**2:
    return True
  else:
    return False

In [69]:
is_triplet(5, 3, 2)

False

In [70]:
is_triplet(3, 4, 5)

True