1. Write a function that counts how many concentric layers a rug.

Examples

count_layers([
&quot;AAAA&quot;,
&quot;ABBA&quot;,
&quot;AAAA&quot;
]) ➞ 2

count_layers([
&quot;AAAAAAAAA&quot;,
&quot;ABBBBBBBA&quot;,
&quot;ABBAAABBA&quot;,
&quot;ABBBBBBBA&quot;,
&quot;AAAAAAAAA&quot;
]) ➞ 3

count_layers([
&quot;AAAAAAAAAAA&quot;,
&quot;AABBBBBBBAA&quot;,
&quot;AABCCCCCBAA&quot;,
&quot;AABCAAACBAA&quot;,
&quot;AABCADACBAA&quot;,
&quot;AABCAAACBAA&quot;,
&quot;AABCCCCCBAA&quot;,
&quot;AABBBBBBBAA&quot;,
&quot;AAAAAAAAAAA&quot;
]) ➞ 5

In [28]:
def count_layers(lst):
  count = 1
  for i in range(len(lst)//2):
    mid = len(lst[i])//2
    if lst[i][mid] != lst[i+1][mid]:
      count += 1
    else:
      count = count
  print(count)

In [29]:
count_layers([ "AAAA", "ABBA", "AAAA" ])

2

In [30]:
count_layers([ "AAAAAAAAA", "ABBBBBBBA", "ABBAAABBA", "ABBBBBBBA", "AAAAAAAAA" ])

3

In [31]:
count_layers([ "AAAAAAAAAAA", "AABBBBBBBAA", "AABCCCCCBAA", "AABCAAACBAA", "AABCADACBAA", "AABCAAACBAA", "AABCCCCCBAA", "AABBBBBBBAA", "AAAAAAAAAAA" ])

5

2. There are many different styles of music and many albums exhibit multiple
styles. Create a function that takes a list of musical styles from albums and
returns how many styles are unique.

Examples

unique_styles([
&quot;Dub,Dancehall&quot;,
&quot;Industrial,Heavy Metal&quot;,
&quot;Techno,Dubstep&quot;,
&quot;Synth-pop,Euro-Disco&quot;,
&quot;Industrial,Techno,Minimal&quot;
]) ➞ 9

In [74]:
def unique_styles(lst):
  styles =",".join(map(str, lst))
  return len(set(styles.split(',')))

In [75]:
unique_styles([ "Dub,Dancehall", "Industrial,Heavy Metal", "Techno,Dubstep", "Synth-pop,Euro-Disco", "Industrial,Techno,Minimal" ])

9

In [76]:
unique_styles(["Soul", "House,Folk", "Trance,Downtempo,Big Beat,House", "Deep House", "Soul" ])

7

3. Create a function that finds a target number in a list of prime numbers.
Implement a binary search algorithm in your function. The target number will
be from 2 through 97. If the target is prime then return &quot;yes&quot; else return &quot;no&quot;.

In [109]:
def is_prime(primes, num):
  total_primes =len(primes)
  min = 0
  max = total_primes
  while min <=max:
    mid = min + (max-min)//2
    if primes[mid]==num:
      return "Yes"
      break
    elif primes[mid]<num:
      min = mid+1
    elif primes[mid]>num:
      max = mid-1
  else:
    return "No"

In [111]:
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67,71, 73, 79, 83, 89, 97]
num = 67
is_prime(primes, num)

'Yes'

4. Create a function that takes in n, a, b and returns the number of positive
values raised to the nth power that lie in the range [a, b], inclusive.

power_ranger(2, 49, 65) ➞ 2

2 squares (n^2) lie between 49 and 65, 49 (7^2) and 64 (8^2)

In [143]:
def power_ranger(power, min, max):
  lst = []
  for i in range(min, max+1):
    root = i**(1/power)
    if int(root) == root:
      lst.append(i)
  n = len(lst)
  return str(power) + "th powers are " + str(n) + " and they are " + str(lst)

In [144]:
power_ranger(2, 49, 65)

'2th powers are 2 and they are [49, 64]'

In [145]:
power_ranger(4, 250, 1300)

'4th powers are 3 and they are [256, 625, 1296]'

5. Given a number, return the difference between the maximum and minimum
numbers that can be formed when the digits are rearranged.
Examples

rearranged_difference(972882) ➞ 760833
988722 - 227889 = 760833

rearranged_difference(3320707) ➞ 7709823
 7733200 - 23377 = 7709823
 
rearranged_difference(90010) ➞ 90981
91000 - 19 = 90981

In [169]:
def rearranged_difference(num):
  a = ''.join(map(str, sorted(list(str(num)))))
  b = ''.join(map(str, sorted(list(str(num)), reverse=True)))
  return int(b)- int(a)

In [170]:
rearranged_difference(3320707)

7709823

In [172]:
rearranged_difference(972882)

760833