1. Create a checker board generator, which takes as inputs n and 2 elements
to generate an n x n checkerboard with those two elements as alternating
squares.

Examples

checker_board(2, 7, 6) ➞ [
[7, 6],
[6, 7]
]

checker_board(3, &quot;A&quot;, &quot;B&quot;) ➞ [
[&quot;A&quot;, &quot;B&quot;, &quot;A&quot;],
[&quot;B&quot;, &quot;A&quot;, &quot;B&quot;],
[&quot;A&quot;, &quot;B&quot;, &quot;A&quot;]
]

checker_board(4, &quot;c&quot;, &quot;d&quot;) ➞ [
[&quot;c&quot;, &quot;d&quot;, &quot;c&quot;, &quot;d&quot;],
[&quot;d&quot;, &quot;c&quot;, &quot;d&quot;, &quot;c&quot;],
[&quot;c&quot;, &quot;d&quot;, &quot;c&quot;, &quot;d&quot;],
[&quot;d&quot;, &quot;c&quot;, &quot;d&quot;, &quot;c&quot;]
]

checker_board(4, &quot;c&quot;, &quot;c&quot;) ➞ &quot;invalid&quot;

In [ ]:
def checker_board(n, ele1, ele2):
  if ele1 != ele2:
    lst1 = []
    for i in range(n):
      lst2 = []
      for j in range(n):
        if j%2 == 0:
          lst2.append(ele1)
        else:
          lst2.append(ele2)
      lst1.append(lst2)
    return lst1
  else:
    return "Invalid"

In [ ]:
checker_board(4, "c", "c")

'Invalid'

In [ ]:
checker_board(4, "c", "d")

[['c', 'd', 'c', 'd'],
 ['c', 'd', 'c', 'd'],
 ['c', 'd', 'c', 'd'],
 ['c', 'd', 'c', 'd']]

2. A string is an almost-palindrome if, by changing only one character, you
can make it a palindrome. Create a function that returns True if a string is an
almost-palindrome and False otherwise.

Examples

almost_palindrome(&quot;abcdcbg&quot;) ➞ True
# Transformed to &quot;abcdcba&quot; by changing &quot;g&quot; to &quot;a&quot;.
almost_palindrome(&quot;abccia&quot;) ➞ True
# Transformed to &quot;abccba&quot; by changing &quot;i&quot; to &quot;b&quot;.
almost_palindrome(&quot;abcdaaa&quot;) ➞ False
# Can&#39;t be transformed to a palindrome in exactly 1 turn.
almost_palindrome(&quot;1234312&quot;) ➞ False

In [ ]:
def almost_palindrome(str1):
  l = len(str1)
  count = 0
  for i in range(l//2):
    if str1[i] == str1[l-i-1]:
      continue
    else:
      count += 1
  if count <= 1:
    return True
  else:
    return False

In [ ]:
almost_palindrome("1234312")

False

In [ ]:
almost_palindrome("abcdaaa")

False

In [ ]:
almost_palindrome("abccia")

True

In [ ]:
almost_palindrome("abcdcbg")

True

3. Create a function that finds how many prime numbers there are, up to the
given integer.

Examples

prime_numbers(10) ➞ 4
# 2, 3, 5 and 7
prime_numbers(20) ➞ 8
# 2, 3, 5, 7, 11, 13, 17 and 19
prime_numbers(30) ➞ 10
# 2, 3, 5, 7, 11, 13, 17, 19, 23 and 29

In [5]:
def prime_numbers(n):
  lst = []
  for i in range(2, n):
    count = 0
    prime = True
    for j in range(2, i):
      if i%j == 0:
        count += 1
        break
    if count == 0:
      prime = True
      lst.append(i)
  return len(lst)

In [6]:
prime_numbers(30)

10

4. If today was Monday, in two days, it would be Wednesday.
Create a function that takes in a list of days as input and the number of days
to increment by. Return a list of days after n number of days has passed.

Examples

after_n_days([&quot;Thursday&quot;, &quot;Monday&quot;], 4) ➞ [&quot;Monday&quot;, &quot;Friday&quot;]

after_n_days([&quot;Sunday&quot;, &quot;Sunday&quot;, &quot;Sunday&quot;], 1) ➞ [&quot;Monday&quot;, &quot;Monday&quot;,
&quot;Monday&quot;]

after_n_days([&quot;Monday&quot;, &quot;Tuesday&quot;, &quot;Friday&quot;], 1) ➞ [&quot;Tuesday&quot;, &quot;Wednesday&quot;,
&quot;Saturday&quot;]

In [17]:
def after_n_days(lst, incr):
  final_lst = []
  lst1 = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
  for i in range(len(lst)):
    #for j in range(len(lst1)):
    j = lst1.index(lst[i])+incr
    j = j%7
    final_lst.append(lst1[j])
  return final_lst

In [18]:
after_n_days(["Monday", "Tuesday", "Friday"], 1)

['Tuesday', 'Wednesday', 'Saturday']

In [19]:
after_n_days(["Sunday", "Sunday", "Sunday"], 1)

['Monday', 'Monday', 'Monday']

5. You are in the process of creating a chat application and want to add an
anonymous name feature. This anonymous name feature will create an alias
that consists of two capitalized words beginning with the same letter as the
users first name.
Create a function that determines if the list of users is mapped to a list of
anonymous names correctly.

Examples

is_correct_aliases([&quot;Adrian M.&quot;, &quot;Harriet S.&quot;, &quot;Mandy T.&quot;], [&quot;Amazing
Artichoke&quot;, &quot;Hopeful Hedgehog&quot;, &quot;Marvelous Mouse&quot;]) ➞ True

is_correct_aliases([&quot;Rachel F.&quot;, &quot;Pam G.&quot;, &quot;Fred Z.&quot;, &quot;Nancy K.&quot;],
[&quot;Reassuring Rat&quot;, &quot;Peaceful Panda&quot;, &quot;Fantastic Frog&quot;, &quot;Notable Nickel&quot;]) ➞
True

is_correct_aliases([&quot;Beth T.&quot;], [&quot;Brandishing Mimosa&quot;]) ➞ False

In [26]:
def is_correct_aliases(lst1, lst2):
  condition = True
  for i in range(len(lst1)):
    for j in lst2[i].split(" "):
      if j[0] == lst1[i][0]:
        continue
      else:
        condition = False
        break
  return condition

In [27]:
is_correct_aliases(["Adrian M.", "Harriet S.", "Mandy T."], ["Amazing Artichoke", "Hopeful Hedgehog", "Marvelous Mouse"])

True

In [28]:
is_correct_aliases(["Rachel F.", "Pam G.", "Fred Z.", "Nancy K."], ["Reassuring Rat", "Peaceful Panda", "Fantastic Frog", "Notable Nickel"])

True

In [29]:
is_correct_aliases(["Beth T."], ["Brandishing Mimosa"])

False