1. Create a function that takes a list and string. The function should remove
the letters in the string from the list, and return the list.

Examples

remove_letters([&quot;s&quot;, &quot;t&quot;, &quot;r&quot;, &quot;i&quot;, &quot;n&quot;, &quot;g&quot;, &quot;w&quot;], &quot;string&quot;) ➞ [&quot;w&quot;]

remove_letters([&quot;b&quot;, &quot;b&quot;, &quot;l&quot;, &quot;l&quot;, &quot;g&quot;, &quot;n&quot;, &quot;o&quot;, &quot;a&quot;, &quot;w&quot;], &quot;balloon&quot;) ➞ [&quot;b&quot;, &quot;g&quot;,
&quot;w&quot;]

remove_letters([&quot;d&quot;, &quot;b&quot;, &quot;t&quot;, &quot;e&quot;, &quot;a&quot;, &quot;i&quot;], &quot;edabit&quot;) ➞ []

In [19]:
def remove_letters(lst, str1):
  lst1 = list(str1)
  #lst2 = []
  for i in lst1:
    if i in lst1:
      #lst2.append(i)
      lst.remove(i)
  return lst

In [21]:
remove_letters(["b", "b", "l", "l", "g", "n", "o", "o", "a", "w"], "balloon")

['b', 'g', 'w']

In [22]:
remove_letters(["d", "b", "t", "e", "a", "i"], "edabit")

[]

Create a function that takes a number (step) as an argument and returns the
amount of blocks in that step.

Examples

blocks(1) ➞ 5

blocks(5) ➞ 39

blocks(2) ➞ 12

In [28]:
def blocks(n):
  f = 5
  i_dif = 7
  for i in range(n-1):
    f += i_dif
    i_dif += 1
  return f

In [29]:
blocks(5)

39

In [30]:
blocks(2)

12

3. Create a function that subtracts one positive integer from another, without
using any arithmetic operators such as -, %, /, +, etc.

Examples

my_sub(5, 9) ➞ 4

my_sub(10, 30) ➞ 20

my_sub(0, 0) ➞ 0

4. Create a function that takes a string containing money in dollars and
pounds sterling (seperated by comma) and returns the sum of dollar bills only,
as an integer.

For the input string:
- Each amount is prefixed by the currency symbol: $ for dollars and £ for
pounds.
- Thousands are represented by the suffix k.
i.e. $4k = $4,000 and £40k = £40,000

In [44]:
def amount_in_int(str1):
  str2 = ''
  if str1[-1] == 'k':
    str1 = str1[0:-1] + '000'
  for i in str1:
    if i != '$' and i != '£' and i != ',':
      str2 += i
  return int(str2)

In [45]:
amount_in_int('£40k')

40000

In [46]:
amount_in_int('£4,00,000')

400000

In [52]:
def add_bill(bills):
  bill = 0
  for i in bills.split(','):
    if i[0] == '$':
      bill += amount_in_int(i)
  return bill

add_bill(&quot;p30,d2k,p60,d200,p360&quot;)

In [53]:
add_bill("$20,£40,£60,$50")

70

In [54]:
add_bill("£30,$2k,£60,$200,£360")

2200

5. Create a function that flips a horizontal list into a vertical list, and a vertical
list into a horizontal list.
In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list
(n rows and 1 column), and vice versa.
Examples
flip_list([1, 2, 3, 4]) ➞ [[1], [2], [3], [4]]
# Take a horizontal list and flip it vertical.
flip_list([[5], [6], [9]]) ➞ [5, 6, 9]
# Take a vertical list and flip it horizontal.

In [59]:
def flip_list(lst):
  lst1 = []
  for i in lst:
    if type(lst[0]) == list:
      lst1.append(i[0])
    else:
      lst1.append([i])

  return lst1

In [60]:
flip_list([[5], [6], [9]])

[5, 6, 9]