1. Given a sentence as txt, return True if any two adjacent words have this
property: One word ends with a vowel, while the word immediately after
begins with a vowel (a e i o u).

Examples

vowel_links(&quot;a very large appliance&quot;) ➞ True

vowel_links(&quot;go to edabit&quot;) ➞ True

vowel_links(&quot;an open fire&quot;) ➞ False

vowel_links(&quot;a sudden applause&quot;) ➞ False

In [ ]:
def vowel_links(sentence):
  vowels = ['a', 'e', 'i', 'o', 'u']
  for i in range(len(sentence)):
    if sentence[i] == " ":
      if (sentence[i-1] in vowels) and (sentence[i+1] in vowels):
        condition = True
        break
      else:
        condition = False

  return condition

In [ ]:
vowel_links("a very large appliance")

True

In [ ]:
vowel_links("a sudden applause")

False

2. You are given three inputs: a string, one letter, and a second letter.
Write a function that returns True if every instance of the first letter occurs
before every instance of the second letter.

Examples

first_before_second(&quot;a rabbit jumps joyfully&quot;, &quot;a&quot;, &quot;j&quot;) ➞ True

 Every instance of &quot;a&quot; occurs before every instance of &quot;j&quot;.
 
first_before_second(&quot;knaves knew about waterfalls&quot;, &quot;k&quot;, &quot;w&quot;) ➞ True

first_before_second(&quot;happy birthday&quot;, &quot;a&quot;, &quot;y&quot;) ➞ False

The &quot;a&quot; in &quot;birthday&quot; occurs after the &quot;y&quot; in &quot;happy&quot;.
first_before_second(&quot;precarious kangaroos&quot;, &quot;k&quot;, &quot;a&quot;) ➞ False

In [ ]:
def first_before_second(sentence, letter1, letter2):
  lst1 = []
  lst2 = []
  for i in range(len(sentence)):
    if sentence[i] == letter1:
      lst1.append(i)
    elif sentence[i] == letter2:
      lst2.append(i)
  if max(lst1) < min(lst2):
    return True
  else:
    return False

In [ ]:
first_before_second("a rabbit jumps joyfully", "a", "j")

True

In [ ]:
first_before_second("precarious kangaroos", "k", "a")

False

3. Create a function that returns the characters from a list or string r on odd or
even positions, depending on the specifier s. The specifier will be &quot;odd&quot; for
items on odd positions (1, 3, 5, ...) and &quot;even&quot; for items on even positions (2,
4, 6, ...).

Examples

char_at_pos([2, 4, 6, 8, 10], &quot;even&quot;) ➞ [4, 8]
4 &amp; 8 occupy the 2nd &amp; 4th positions

char_at_pos([&quot;A&quot;, &quot;R&quot;, &quot;B&quot;, &quot;I&quot;, &quot;T&quot;, &quot;R&quot;, &quot;A&quot;, &quot;R&quot;, &quot;I&quot;, &quot;L&quot;, &quot;Y&quot;], &quot;odd&quot;)

In [ ]:
def char_at_pos(data, speci):
  if speci == "odd":
    return data[0::2]
  if speci == "even":
    return data[1::2]

In [ ]:
char_at_pos([2, 4, 6, 8, 10], "even")

[4, 8]

In [ ]:
char_at_pos(["A", "R", "B", "I", "T", "R", "A", "R", "I", "L", "Y"], "odd")

['A', 'B', 'T', 'A', 'I', 'Y']

4. Write a function that returns the greatest common divisor of all list
elements. If the greatest common divisor is 1, return 1.

Examples

GCD([10, 20, 40]) ➞ 10

GCD([1, 2, 3, 100]) ➞ 1

GCD([1024, 192, 2048, 512]) ➞ 64

In [82]:
numbers =[1024, 192, 2048, 512]

In [108]:
def GCD(numbers):
  common_f = []
  for i in range(2, min(numbers)+1):
    k = 0
    for j in range(len(numbers)):
      if numbers[j]%i == 0:
        k += 1
    if k == len(numbers):
      common_f.append(i)
  if len(common_f) != 0:
    return max(common_f)
  else: return 1

In [109]:
GCD([1, 2, 3, 100])

1

In [110]:
GCD([10, 20, 40])

10

In [111]:
GCD([1024, 192, 2048, 512])

64

In [123]:
from math import gcd
from functools import reduce
def find_gcd(list):
    x = reduce(gcd, list)
    return x

In [124]:
find_gcd([1024, 192, 2048, 512])

64

5. A number/string is a palindrome if the digits/characters are the same when
read both forward and backward. Examples include &quot;racecar&quot; and 12321.
Given a positive number n, check if n or the binary representation of n is
palindromic. Return the following:

- &quot;Decimal only.&quot; if only n is a palindrome.

- &quot;Binary only.&quot; if only the binary representation of n is a palindrome.

- &quot;Decimal and binary.&quot; if both are palindromes.

- &quot;Neither!&quot; if neither are palindromes.

Examples

palindrome_type(1306031) ➞ &quot;Decimal only.&quot;
decimal = 1306031
binary = &quot;100111110110110101111&quot;

palindrome_type(427787) ➞ &quot;Binary only.&quot;
decimal = 427787
binary = &quot;1101000011100001011&quot;

In [166]:
def palin(n):
  num = str(n)
  for i in range(len(num)//2):
    if num[i] == num[len(num) - 1 - i]:
      palindrome = True
    else:
      palindrome = False
      break
  return palindrome

In [167]:
def int_to_binary(n):
  bin = ''
  while n>0:
    i = n%2
    n = n//2
    bin = str(i) +bin
  return int(bin)

In [169]:
def palindrome_type(n):
  bin = int_to_binary(n)
  if palin(n) == True and palin(bin) == True:
    print("Decimal and binary \n # decimal = {} \n # binary = {}".format(n, bin))
  elif palin(n) == True and palin(bin) == False:
    print("Only Decimal \n # decimal = {} \n # binary = {}".format(n, bin))
  elif palin(n) == False and palin(bin) == True:
    print("Only binary \n # decimal = {} \n # binary = {}".format(n, bin))
  else:
    print("Neither! \n # decimal = {} \n # binary = {}".format(n, bin))
    condition

In [170]:
palindrome_type(1306031)

Only Decimal
 # decimal = 1306031
 # binary = 100111110110110101111

In [171]:
palindrome_type(427787)

Only binary
 # decimal = 427787
 # binary = 1101000011100001011

In [172]:
palindrome_type(934)

Neither!
 # decimal = 934
 # binary = 1110100110

In [173]:
palindrome_type(313)

Decimal and binary
 # decimal = 313
 # binary = 100111001